@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.foreground");
  --foreground: theme("colors.background");
  --secondary: theme("colors.secondary");
  --primary: theme("colors.primary");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme("colors.background");
    --foreground: theme("colors.foreground");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#canvas-container {
  border: 1px solid rebeccapurple;
}
